
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 32px;
    font-family: arial;
    font-size: 16px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 16px;
    font-family: arial;
    font-size: 24px;
}

p {
    text-align: left;
    color: black;
    letter-spacing: 2px;
    font-family: arial;
    font-size: 12px;
}

div {
    text-align: left;
    color: black;
    letter-spacing: 2px;
    font-family: arial;
    font-size: 12px;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 100%;
    padding: 30px;
    height: 360px; /* Should be removed. Only for demonstration */
}

/* Create two equal columns that floats next to each other */
.column2 {
    float: left;
    width: 50%;
    padding: 30px;
    height: 360px; /* Should be removed. Only for demonstration */
}

/* Create three equal columns that floats next to each other */
.column3 {
    float: left;
    width: 33.33%;
    padding: 30px;
    height: 360px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}









